/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP (1000) [id]
      ,[first_name]
      ,[middle_initial]
      ,[last_name]
      ,[address_line_1]
      ,[address_line_2]
      ,[address_line_3]
      ,[city]
      ,[state]
      ,[province]
      ,[country]
      ,[zip]
      ,[home_phone]
      ,[cell_phone]
      ,[email_address]
      ,[date_of_birth]
      ,[gender]
      ,[high_school_or_college]
      ,[high_school_student]
      ,[college_student]
      ,[prospect_type]
      ,[expected_start_date]
      ,[hsp]
      ,[white]
      ,[black]
      ,[asian]
      ,[native_american]
      ,[native_hawaiian]
      ,[no_hsp_response]
      ,[campus_1]
      ,[campus_2]
      ,[campus_3]
      ,[aoi_1]
      ,[aoi_2]
      ,[aoi_3]
      ,[team]
      ,[lead_source_1]
      ,[lead_source_2]
      ,[lead_source_3]
      ,[lead_source_4]
      ,[lead_source_5]
      ,[lead_source_6]
      ,[lead_source_7]
      ,[lead_source_8]
      ,[lead_source_9]
      ,[lead_source_10]
      ,[lead_source_11]
      ,[lead_source_12]
      ,[lead_source_13]
      ,[lead_source_14]
      ,[lead_source_15]
      ,[lead_source_16]
      ,[lead_source_17]
      ,[lead_source_18]
      ,[lead_source_19]
      ,[lead_source_20]
      ,[travel_mgmt_no]
      ,[event_date]
      ,[date_created]
      ,[date_processed]
      ,[created_by]
  FROM [STAGING].[dbo].[TalismaLeadCards]


  
   SELECT * FROM [STAGING].[dbo].[TalismaLeadCards]

	delete from  [STAGING].[dbo].[TalismaLeadCards]
	where id > 3

	  SELECT * FROM [STAGING].[dbo].[TalismaLeadCards]

	insert into [STAGING].[dbo].TalismaLeadCards([first_name], [middle_initial], [last_name]) Values ('brian', 'k', 'tran'); 
	  SELECT * FROM [STAGING].[dbo].[TalismaLeadCards]